
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
	order: 3;
	width: 100%;
	height: 80px;	
	min-width: $min-width;
	background: #000;
	text-align: left;
}