
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
	order: 1;
	width: 100%; 
	height: 80px;
	min-width: $min-width;	
	text-align: left;
	background: #f0f0f0;	
}