
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
	width:100%;
	min-width: $min-width;
	order: 3;
	text-align:left;
	background:#000;
	height:80px;	
}