
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
	width:100%; 
	min-width: $min-width;	
	order: 1;
	text-align:left;
	background:#f0f0f0;	
	height: 80px;
}