
/*
================================================================================
|                                 TEXT BOX                                     |
================================================================================
*/
.text-box {
    p, li {	
        @include font($base-font-size,$base-line-height,$text-color);
        font-weight: 400;	
    }
    h1 {	
        @include font($font-size-h1,$line-height-h1,$title-color);
        font-family: $title-font-family;
        font-weight: 700;	
    }
    h2 {
        @include font($font-size-h2,$line-height-h2,$title-color);
        font-family: $title-font-family;
        font-weight: 700;	
    }
    h3 {
        @include font($font-size-h3,$line-height-h3,$title-color);
        font-family: $title-font-family;
        font-weight: 700;
    }
    
    h4 {	
        @include font($font-size-h4,$line-height-h4,$title-color);
        font-family: $title-font-family;
        font-weight: 700;	
    }
    h5 {
        @include font($font-size-h5,$line-height-h5,$title-color);
        font-family: $title-font-family;
        font-weight: 700;	
    }
    h6 {
        @include font($font-size-h6,$line-height-h6,$title-color);
        font-family: $title-font-family;
        font-weight: 700;
    }
}